.big {
	padding-left: 500px;
	height: 100px;
	}
.bip {
	padding-left: 500px;
	width: 200px;
	height: 100px;
	background-color: red;
	
}	

.tiny {
	padding-left: 500px;
	width: 50px;

}
.tip{
	padding-left: 500px;
	background-color: pink;
	
}
